.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #040d12;
    color: #fff;
    transition: transform 0.3s ease, width 0.3s ease; /* Added width transition */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.open {
    transform: translateX(0);
    width: 250px; /* Full width when open */
}

.sidebar.closed {
    transform: translateX(0);
    width: 80px; /* Narrow width when closed */
}

.sidebar-header {
    padding: 10px;
    background-color: #040d12;
    text-align: right;
}

.toggle-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.sidebar-menu li {
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.sidebar-menu li a, 
.logout-button {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
}

.sidebar-menu li a span, 
.logout-button span {
    margin-left: 10px; /* Space between icon and text */
}

.icon {
    font-size: 20px;
}

.sidebar-menu li a:hover,
.logout-button:hover {
    background-color: #183d3d;
    border-radius: 5px;
}

.sidebar-bottom {
    padding-bottom: 10px;
}
