.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; /* Ensure sidebar is at the left */
    background-color: #040d12;
    color: #fff;
    transition: left 0.3s;
    z-index: 1000; /* Ensure it's above other content */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures space between content and bottom */
}

.sidebar.open {
    left: 0; /* Slide in when open */
}

.sidebar-header {
    padding: 10px;
    background-color: #040d12;
    text-align: right;
}
.toggle-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.sidebar-menu li {
    padding: 15px 20px;
}

.sidebar-menu li a, 
.logout-button{
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
}

.sidebar-menu li a:hover,
.logout-button:hover{
    background-color: #183d3d;
    border-radius: 5px;
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    margin-right: 10px; 
    font-size: 20px; 
}
